.header {
  background-color: #000000;
  height: 80px;
  direction: rtl;
  max-width: 1600px;
  border-bottom: 2px solid #666666;
  position: fixed;
  width: 100%;
  right: 50%;
  top: 0;
  transform: translateX(50%);
  z-index: 100;
}
.container-header {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  font-size: 18px;
}
.fa {
  padding: 0 10px;
  font-size: 25px;
}
.header-item {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s;
  display: inline-block;
  text-transform: uppercase;
}
.header-item:after {
  bottom: 0;
  display: block;
  content: "";
  border-bottom: solid 3px #ffffff;
  transform: scaleX(0) translateY(15px);
  transition: transform 300ms ease-in-out;
  /* transform:  */
}
.header-item:hover:after {
  transform: scaleX(1) translateY(15px);
}

.cart {
  position: relative;
}
.cart-item {
  position: absolute;
  color: #ffffff;
  top: -48%;
  right: -2%;
  background-color: #666666;
  padding: 0 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
}
@media screen and (max-width: 600px) {
  .container-header {
    padding: 0 15px;
  }
  .header-items {
    font-size: 16px;
  }
  .fa {
    padding: 0 5px;
    font-size: 20px;
  }
  .cart-item {
    right: -9%;
  }
}
@media screen and (max-width: 420px) {
  .container-header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 400px) {
  .container-header {
    padding: 0 5px;
  }
  .header-items {
    font-size: 15px;
  }
  .fa {
    padding: 0 3px;
    font-size: 18px;
  }
  .cart-item {
    right: -12%;
  }
}
