* {
  box-sizing: border-box;
}
.btn-back {
  padding: 0 0 30px 0;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: #b4b4b4;
  font-weight: bold;
  transition: all 0.3s;
  font-size: 18px;
  margin-bottom: 20px;
}

.items-product-info {
  margin: 80px auto 0 auto;
  padding: 80px;
  width: 100%;
  height: auto;
  max-width: 1600px;
  max-width: 1600px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.title-product-info {
  border-bottom: 1px solid #aaaaaa;
  padding: 20px 0;
}
.detail-product-info {
  margin-top: 20px;
  color: #3f3f3f;
}

.fa-arrow-down {
  margin-top: 20px;
  height: 80px;
  font-size: 30px;
  color: #b76c6c;
  animation: Arrow 1s 0s alternate infinite;
}
.container-description-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-product-info {
  margin-top: 20px;
  color: #444444;
}
@keyframes Arrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@media screen and (max-width: 1000px) {
  .container-image-product-info {
    width: 500px;
    height: 320px;
    min-height: 320px;
    min-width: 500px;
  }
}
@media screen and (max-width: 700px) {
  .container-image-product-info {
    width: 80%;
    height: 250px;
    min-height: 250px;
    min-width: 400px;
  }
  .items-product-info {
    padding: 40px;
  }
}
@media screen and (max-width: 500px) {
  .container-image-product-info {
    width: 100%;
    height: 250px;
    min-height: 250px;
    min-width: 300px;
  }
  .items-product-info {
    padding: 40px 10px;
  }
  .title-product-info {
    font-size: 20px;
  }
  .detail-product-info {
    font-size: 18px;
  }
  .description-product-info {
    font-size: 16px;
  }
  .btn-back {
    font-size: 16px;
  }
}
